/BUS_QLShopThoiTrang/bin/
/BUS_QLShopThoiTrang/obj/
/DAL_QLShopThoiTrang/bin/
/DAL_QLShopThoiTrang/obj/
/DTO_QLShopThoiTrang/bin/
/DTO_QLShopThoiTrang/obj/
/Meet_QuanLyShopThoiTrang/bin/
/Meet_QuanLyShopThoiTrang/obj/
/.vs/

